<header class="header">
  <div class="user-photo"></div>
  <div class="title">Título da Aplicação</div>
  <button (click)="openModal()" class="btn">Adicionar</button>
</header>

<div *ngIf="showModal" class="modal-backdrop">
  <div class="modal">
    <div class="modal-header">
      <h2>Adicionar tarefa</h2>
      <button type="button" class="close-button" (click)="closeModal()">
        X
      </button>
    </div>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input
          type="text"
          id="titulo"
          name="titulo"
          formControlName="titulo"
          required
        />
        <label for="titulo">Título: </label>
      </div>

      <div class="form-group">
        <textarea
          id="descricao"
          name="descricao"
          formControlName="descricao"
        ></textarea>
        <label for="descricao">Descrição: </label>
      </div>

      <div class="form-group">
        <input
          type="text"
          id="responsavel"
          name="responsavel"
          formControlName="responsavel"
          required
        />
        <label for="responsavel">Responsável:</label>
      </div>

      <div class="form-group">
        <input
          type="date"
          id="deadline"
          name="deadline"
          formControlName="deadline"
          required
        />
        <label for="deadline">Deadline:</label>
      </div>

      <div class="select-group">
        <label for="HeadlineAct" class="label"> Prioridade: </label>

        <select
          name="HeadlineAct"
          id="HeadlineAct"
          class="select"
          formControlName="prioridade"
          required
        >
          <option value="">Select</option>
          <option value="alta">Alta</option>
          <option value="media">Média</option>
          <option value="baixa">Baixa</option>
        </select>
      </div>

      <button type="submit" class="btn">Buscar</button>
    </form>
    <!-- <h2>Formulário Angular</h2>
    <h2>Formulário Angular</h2>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div>
        <label for="name">Nome:</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          required
        />
      </div>
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          required
        />
      </div>
      <button type="submit">Enviar</button>
    </form> -->
  </div>
</div>
