<div class="global">
  <header class="header">
    <div class="user-photo"></div>
    <div class="title">Título da Aplicação</div>
    <button class="btn">Adicionar</button>
  </header>

  <main class="main">
    <form class="form">
      <div class="form-group">
        <input type="text" id="titulo" name="titulo" />
        <label for="titulo">Título: </label>
      </div>

      <div class="form-group">
        <textarea id="descricao" name="descricao"></textarea>
        <label for="descricao">Descrição: </label>
      </div>

      <div class="footer">
        <div class="form-group">
          <input type="text" id="responsavel" name="responsavel" />
          <label for="responsavel">Responsável:</label>
        </div>

        <div class="select-group">
          <label for="HeadlineAct" class="label"> Headliner: </label>

          <select name="HeadlineAct" id="HeadlineAct" class="select">
            <option value="">Select</option>
            <option value="alta">Alta</option>
            <option value="media">Média</option>
            <option value="baixa">Baixa</option>
          </select>
        </div>

        <div class="form-group">
          <input type="date" id="deadline" name="deadline" />
          <label for="deadline">Deadline:</label>
        </div>

        <button type="submit" class="btn">Buscar</button>
      </div>
    </form>
  </main>
</div>

<router-outlet />
